<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<style>
.ulClass
{
list-style: none;
}
</style>
<body>
    <%- include('common/header')%>
    <h1>Welcome , <%= user.name%></h1>
    <h3><%= user.email%></h3>
    <h3><%= user.city%></h3>

    <ul>
        <% user.skills.forEach((item)=>{%>
            <li>
                <%= item%>
            </li>
        <% })%>
    </ul>

    <div class="content">
        <div class="title">
  Welcome</div>
  <p>
  Profile Page</p>
  </div>


</body>
</html>